<p> <strong>Sender:</strong> <%= @message.user.fname  %> </p>
<p> <strong>Receiver:</strong> <%= @message.target_user.fname  %> </p>
<div class="well">
	<%= @message.content %>
</div>
<div class="actions">
	<%= link_to "Delete", mark_to_delete_message_path(@message), :method => :put, :class => "btn" %>
</div>
<%= render "shared/message_form" %>	