<div>
<table>
	<tr>
		<td><%= image_tag comment.user.avatar.url(:thumb) %></td>
		<td>
			<p><%= comment.user.fname %></p>
			<p><%= comment.content %></p>
			<div>
			<%= comment.likes.count %> people liked this | 
			<% if comment.cant_like?(current_user.id) %>
			<%= link_to "Like", {:controller => :comments,
			 :action => :toggle_like,
			 :id => comment.id,
			  @parent.class.to_s.downcase.concat("_id").to_sym => @parent.id,
			  :in_post => @parent.is_a?(Post) },
			   :method => :put %>
			<% else %>
			<%= link_to "Dislike", {:controller => :comments,
			 :action => :toggle_like,
			  :id => comment.id,
			  @parent.class.to_s.downcase.concat("_id").to_sym => @parent.id,
			  :in_post => @parent.is_a?(Post) },
			   :method => :put %>
			<% end %>	
			</div>
		</td>
	</tr>
</table>
</div>