<%= form_tag("/users/search", :method => "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
<h1> All people </h1>
<% @users.each do |user| %>
	<div>
		<%= link_to user_path(user) do %> 
			<h2> <%= user.fname %> </h2>
		<% end %>
	</div>
<% end %>