<h1> <%= @title %> </h1>
<%= form_tag send_message_user_path(@user,@message), :method => :post do %>
	<%# render 'shared/error_messages', :object => f.object %>
	<div>
		<%= label_tag "Write" %>
		<%= text_area_tag :content %>	
	</div>
	<div class="actions">
      	<%= submit_tag "Send" %>
    </div>
<% end %>	