<h1> <%= @title %> </h1>
<p>
	<%= @user.description %>
</p>
<div>
	<%= raw(get_links(@user)) %>
</div>
<p>
	<%= link_to "Send message", new_message_user_path(@user) %>
</p>

<%= form_for [@user,@post] do |f| %>
 <div class="field">
 	<%= f.text_area :content %>
 </div>
 <div class="actions">
 	<%= f.submit "Add post" %>
 </div>
<% end %>

<%= render :partial => "shared/item", :collection => @items %>