<h1> <%= @title %> </h1>
<p>
	<%= @user.description %>
</p>
<div>
	<%= raw(get_links(@user)) %>
</div>

<% @items.each do |item| %>
	<div>
		<%= link_to user_path(item.user) do %> 
			<h2> <%= item.user.fname %> </h2>
		<% end %>
		<p> <%= item.content %> </p>
	</div>
<% end %>