<div class="row-fluid">
	<div class="span2">
		<%= image_tag item.user.avatar.url(:thumb) %>
	</div>
	<div class="span8">
		<%= link_to item.user.fname, user_path(item.user) %>
		<p> <%= item.notificable.content %> </p>
		<p><strong>in reply to your <%= link_to item.notificable.commentable_type.downcase, 
										item.notificable.commentable %>:</strong></p>
			<div class="well">
				<% if item.notificable.commentable_type == "Photo" %>
					<%= item.notificable.commentable.content.url(:thumb) %>
				<% else %>
					<%= item.notificable.commentable.content %>
				<% end %>	
			</div>
		<div class="form-actions">
			<strong><%= item.notificable.likes.count %> people liked this</strong>
  			<% if item.notificable.cant_like?(current_user.id) %>
    			<%= link_to toggle_like_comment_path(item.notificable), :method => :put, :class => 'btn' do %>
      				<i class="icon-thumbs-up"></i> 
      				Like
    			<% end %>
  			<% else %>
    			<%= link_to toggle_like_comment_path(item.notificable), :method => :put, :class => 'btn' do %>
      				<i class="icon-thumbs-down"></i> 
      				Dislike
    			<% end %>
  			<% end %>
		</div>	
	</div>
</div>