<div class="row-fluid">
	<div class="span1">
		<%= image_tag item.user.avatar.url(:thumb) %>
	</div>
	<div class="span9">
	 	<blockquote>
	 		<%= link_to item do %>
	        	<p><%= item.content %></p>
	        	<%= image_tag item.photo.url if item.photo_file_name %>
	        <% end %>	
	        <%= link_to user_path(item.user) do %>
	          <small><%= item.user.fname %></small>
	        <% end %> 
	    </blockquote>
	    <div class="well">
	  		<strong><%= item.likes.count %> people liked this</strong> | 
	  		<strong>comments: <%= item.comments.size %></strong>          
		</div>
	</div>
</div>