<%= form_tag("/users/search", :method => "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
<% unless @invites.blank? %>
	<div>
		<% @invites.each do |invite| %>
			<p>
				<%= link_to invite.user.fname, user_path(invite.user) %>
				want to add you to friends
				(<%= link_to("Accept invite", accept_user_friendship_path(invite), :method => :put) %> | 
				<%= link_to("Cancel invite", cancel_user_friendship_path(invite), :method => :delete) %>)
			</p>
		<% end %>
	</div>
<% end %>
<h1> Your friends: </h1>
<%= paginate @friends %>
<%= render :partial => "shared/friend", :collection => @friends %>