<%= form_tag("/users/search", :method => "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
<% unless @invites.blank? %>
	<div class="row-fluid">
		<div class = "span10">
			<%= render :partial => "shared/invite", :collection => @invites %>
		</div>
	</div>
<% end %>
<h1> Your friends: </h1>
<%= paginate @friends %>
<%= render :partial => "shared/friend", :collection => @friends %>


		