<table>
	<tr>
		<td><%= image_tag current_user.avatar.url(:medium) %></td>
		<td>
			<p><%= current_user.full_name %></p>
			<p><%= current_user.description %></p>
		</td>
	</tr>
</table>
<h2> Your wall: </h2>
<%= render 'shared/post_form' %>
<%= paginate @items %>
<%= render :partial => "shared/item", :collection => @items %>