<% unless @photos.blank? %>
<ul class="thumbnails">
	<% @photos.each do |photo| %>
	<li class="span3">
	<div class="thumbnail">
	<%= link_to photo_path(photo) do %>
		<%= image_tag photo.content.url(:thumb) %>
	<% end %>
	</div>
	</li>
	<% end %>
</ul>
<% else %>
	<p> This album haven't any photos yet</p>
<% end %>
<% if @photo_album.user == current_user %>
	<div class="form-actions">
		<%= link_to "Add photo", new_photo_album_photo_path(@photo_album),:class => "btn" %> 
		<%= link_to "Edit album", edit_user_photo_album_path(@photo_album.user,@photo_album),
			:class => "btn" %> 
		<%= link_to "Delete album", [@photo_album.user,@photo_album], :method => :delete,
			:class => "btn btn-danger" %>
	</div>	
<% end %>