<%= form_for [@photo_album,@photo] do |f| %>
  	<div>
  	 <%= f.file_field :content %>
	</div>
	<div><%= f.label "Photo description" %><br />
  	<%= f.text_area :description %>
	</div>
   <div><%= f.submit "Commit" %></div>
<% end %>