<div>
<table>
	<tr>
		<td><%= image_tag post.user.avatar.url(:thumb) %></td>
		<td>
			<p><%= post.user.full_name %></p>
			<p><%= post.content %></p>
			<%= image_tag post.photo.url if post.photo.url %>
		</td>
	</tr>
</table>
	<div>
	<%= post.likes.count %> people liked this | 
	<% if post.cant_like?(current_user.id) %>
		<%= link_to "Like", toggle_like_post_path(post), :method => :put %>
	<% else %>
		<%= link_to "Dislike", toggle_like_post_path(post), :method => :put %>
	<% end %>	
	</div>
	<div>
		<% if current_user == post.user %>
			<%= link_to "Edit", edit_post_path(post) %> | 
			<%= link_to "Delete", post, :method => :delete %>
		<% else current_user == post.target_user %>
			<%= link_to "Delete", post, :method => :delete %>	
		<% end %>
	</div>
</div>