<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path  %></li>
      <% if signed_in? %>
        <% unless @notification_count.zero? %>
          <li> <%= link_to("Notifications (#{@notification_count})",notifications_path) %> </li>
        <% end %>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <%= raw(get_friends_link(@invite_count)) %>
        <li><%= link_to "People", users_path %></li>
        <li><%= link_to "Inbox", inbox_path %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
