<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> - Friends</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	


	
	<div class="container-fluid">
  	<div class="row-fluid">
    <div class="span2">
      <%= render 'layouts/header' %>
    </div>
    <div class="span10">
    	<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    	<%= yield %>
      <!--Body content-->
    </div>
  	</div>
</div>
</body>
</html>
